
@{
    ViewBag.Title = "thong tin khach hang";
}

<h2>thong tin khach hang </h2>
<div class="alert alert-danger">
    <p> Mã số: @ViewBag.customer.CustomerID</p>
    <p> Họ và tên: @ViewBag.customer.FirstName @ViewBag.customer.LastName</p>
    <p> Mã số: @ViewBag.customer.Address</p>
    <p> Mã số: @ViewBag.customer.YearofBirth</p>
</div>
