@model HvkLesson07Db.Models.hvkKhoa

@{
    ViewBag.Title = "HvkDetails";
}

<h2>Details</h2>

<div>
    <h4>hvkKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HvkTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HvkTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HvkTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HvkTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HvkKH }) |
    @Html.ActionLink("Back to List", "HvkIndex")
</p>
