@model lab05.Models.HvkMember

@{
    ViewBag.Title = "Chi tiết các thành viên ";
}

<h2>Chi tiết các thành viên</h2>

<div>
    <h4>HvkMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HvkUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HvkUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HvkFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HvkFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HvkPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HvkPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HvkAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HvkAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HvkEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HvkEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Quay lại", "HvkCreateOne")
</p>
