@model IEnumerable<HvkLesson06.Models.HvkSong>

@{
    ViewBag.Title = "Hvk: danh sách bài hát";
}

<h2>Hvk: danh sách bài hát</h2>

<p>
    @Html.ActionLink("Create New", "HvkCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HvkTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HvkAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HvkArtist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HvkYearRelease)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HvkTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HvkAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HvkArtist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HvkYearRelease)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
